.exit {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
  position: absolute;
  top: 2rem;
  right: 2rem;
}
.exit button {
  background-color: #e24a4a;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.exit button:hover {
  background-color: #c94242;
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}
.exit button:active {
  transform: translateY(0);
  box-shadow: 0 3px 5px #00000033;
}
