* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: linear-gradient(#0f1c35, #b3b131);
  background-repeat: no-repeat;
}
.background {
  height: 400px;
  display: flex;
  justify-content: center;
}

 

a {
  color: antiquewhite;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
.home {
  margin: 10px;
  font-size: 2rem;
  color: #00c3ff;
}
.home a {
  font-size: 1.5rem;
  display: inline-flex;
  align-items: center;
}

.menu {
  margin-top: 50px;
  padding: 10px;
  display: flex;
  font-size: 2rem;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.menu a:hover {
  text-decoration: underline;
}

.main-title {
  text-align: center;
  color: #ffffff;
  margin: 10px 0 0 0;
}

.formulario {
  width: 50%;
  margin: 10px auto;
  padding: 20px 40px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  box-shadow: 0 0 40px #d1db3bcc inset;
}
.formulario label {
  font-size: 1.2em;
}

.formulario input,
.formulario button[type="submit"] {
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.formulario button[type="submit"] {
  color: #ffff;
  font-size: 1.1em;
  background-color: #092e72;
}

.changeRegister a {
  color: #f7f8f8;
  font-size: 1.2em;
}
